*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    #heroSection{
        height: auto;
        background-image: url("/Untitled\ design\ \(2\).png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 10;
            .heroWrapper{
                .foodDisplays{
                    position: relative;
                    width: 100%;
                    height: 55vh;
                    clip-path: inset(0 0 0 0);
                    overflow: hidden;
                    .foodPic{
                        position: absolute;
                        top: 3%;
                        left: 5%;
                        height: 50vh;
                        width: 27vw; 
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .foodInfo{
                        position: absolute;
                        top: 20%;
                        left: 45%;
                        /* transform: translate(-50%, -50%); */
                        .foodText{
                            font-family: gotham;
                            font-weight: bolder;
                            font-size: 3.5rem;
                            color: #bb4500;
                        }
                        .rating{
                            height: 50px;
                            width: 200px;
                            img{
                                height: 100%;
                                width: 100%;
                            }
                        }
                        
                    }
                }
                .foodBoxesContainer{
                    .foodBoxes{
                        height: 35vh;
                        width: 20vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        .pic{
                            height: 60%;
                            width: 100%;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
        }
    }

    #AboutSec{
        background-image: url(/Cozy.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 70vh;
        .sectionWrap{
            height: 100%;
            backdrop-filter: blur(1.8px);
            
            .rightWrap{
                font-family: gotham;
                text-align: start;
                width: 40%;
                display: grid;
                place-content: center;
                h2{
                    font-weight: bolder;
                    color: #bb4500;
                }
                h5{
                    color: #626675;
                }
            }

            .leftWrap{
                display: grid;
                place-content: center;
                .svg{
                    height: 370px;
                    width: 450px;
                }
            }
        }
    }
}