*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    #Nav{
        background-color: #D1d3ce;
        z-index: 10000;
        .navWrapper{
            .logoWrap{
                height: 90px;
                width: 100px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            /* .navSearch{
                width: 30%;
                
            } */
            .navRight{
                width: 35%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                backdrop-filter: blur(0px) saturate(75%);
                -webkit-backdrop-filter: blur(0px) saturate(75%);
                background-color: rgba(17, 25, 40, 0.25);
                border: 1px solid rgba(255, 255, 255, 0.125);
                .navLinks{
                    text-decoration: none;
                    /* color: #626675; */
                    /* color: black; */
                    color: #bb4500;
                    font-family: gotham;

                }
            }
        }
    }
}